<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Bridgette Chalmers</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="text/css" href="portfolio.css">
</head>
<body>
    <div class="container">
        <div class="full-title">
            <div class="profile">
                <img src="static/profile.jpeg" alt="Bridgette Chalmers" class="profile-pic">
            </div>
        <div id = "title-name-section">
        <h1 id ="title-name">Bridgette Chalmers</h1>
        </div>
        <div>
            <span>
                <a target="_blank" href="https://github.com/bridgettechalmers" class="">GitHub</a>
            </span>
             •
            <span>
                <a target="_blank" href="https://www.linkedin.com/in/bridgette-chalmers/">LinkedIn</a>
            </span>
             •
            <span>
                <a href = "#">Email</a>
            </span>
        </div>
    </div>
    <div id = "experience-section">
        <div class ="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class = "experience-card">
                    <div class= "experience-card-company">Wedbush Securities</div>
                    <div class ="experience-card-title">Wealth Management Intern</div>
                    <div class ="experience-card-timeline">June 2021 - September 2021</div>
                    <div class ="experience-card-info-button"><button type="button">More Info</button></div>
                </div>
            </div>
        </div>


        <div>
        <div class = "experience-card">
            <div class= "experience-card-company">Kenrick Ventures, Inc</div>
            <div class ="experience-card-title">Research Analyst and Marketing Assistant</div>
            <div class ="experience-card-timeline">September 2019 - September 2020</div>
            <div class ="experience-card-info-button">
                <button type="button">More Info</button>
            </div>
        </div>
    </div>



    </div>
</div>
</body>
</html>